.clear  { clear:both; }
.dis5   { height: 5px;   clear: both; }
.dis10  { height: 10px;  clear: both; }
.dis15  { height: 15px;  clear: both; }
.dis20  { height: 20px;  clear: both; }
.dis25  { height: 25px;  clear: both; }
.dis30  { height: 30px;  clear: both; }
.dis35  { height: 35px;  clear: both; }
.dis40  { height: 40px;  clear: both; }
.dis45  { height: 45px;  clear: both; }
.dis50  { height: 50px;  clear: both; }
.dis55  { height: 55px;  clear: both; }
.dis60  { height: 60px;  clear: both; }
.dis65  { height: 65px;  clear: both; }
.dis70  { height: 70px;  clear: both; }
.dis75  { height: 75px;  clear: both; }
.dis80  { height: 80px;  clear: both; }
.dis85  { height: 85px;  clear: both; }
.dis90  { height: 90px;  clear: both; }
.dis95  { height: 95px;  clear: both; }
.dis100 { height: 100px; clear: both; }

.mv10 { margin: 10px 0!important; }
.mh10 { margin: 0 10px!important; }
.ml10 { margin-left: 10px!important; }
.mr10 { margin-right: 10px!important; }
.mt30 { margin-top: 30px!important; }

body {
    font-size: 14px;
}
header .title {
    font-family: Pacifico;
    font-size: 70px;
    margin: 20px 0 30px;
}
header .title a {
    color: #333;
}
header .title a:hover {
    text-decoration: none;
}
header ul li {
    float: left;
}
.inline {
    display: inline-block;
}
.inactive {
    opacity: 0.6;
    cursor: default;
}
.voted:after {
    font-family: "Glyphicons Halflings";
    content: "\e013";
}
li a.active {
    color: #ff0000;
}
.navbar {
    margin-bottom: 0;
}
header {
    background: #ddd;
}
footer {
    background: #ccc;
    padding: 30px 0;
}
.up, .down {
    display: inline-block;
}
.glyphicon {
    cursor: default;
}

.shorting-head {
    color: #0099cc;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px 0;
}
.sorting:after,
.sorting_asc:after,
.sorting_desc:after {
    content: "\e150";
    font-family: "Glyphicons Halflings";
}
.sorting_asc:after {
    content: "\e155";
}
.sorting_desc:after {
    content: "\e156";
}
footer p:last-child {
    margin-bottom: 0;
}
.copyright {
    font-size: 13px;
    margin-top: 30px;
    text-align: center;
}
.red {
    color: #d51820 !important;
}
textarea {
   resize: none;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="url"], 
input[type="tel"], 
select {
    height: 40px;
    line-height: 1 !important;
}
input[type="text"]:hover, 
input[type="text"]:focus, 
input[type="email"]:hover, 
input[type="email"]:focus, 
textarea:hover, 
textarea:focus {
    background-color: #fafafa;
}
.form-control:focus {
    border: 1px solid #444;
    box-shadow: 0 0 3px 0 #999;
}

.form-control, 
select {
    background-color: #f6f6f6;
    border-radius: 0;
    color: #000;
    font-size: 14px;
    height: 40px;
}
label.error {
    clear: both;
    color: #d51820;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 6px 0 0;
    padding: 0;
    text-align: left;
}
.has-error .form-control, 
.has-success .form-control {
    border-width: 1px;
}
.has-error .form-control,
.has-error .form-control-feedback {
    border-color: #d51820;
}
.has-error .form-control-feedback {
    color: #d51820;
}
.has-success .form-control,
.has-success .form-control-feedback {
    border-color: #29a643;
}
.has-success .form-control-feedback {
    color: #29a643;
}
.form-control-feedback {
    font-size: 25px;
    height: 41px;
    line-height: 41px;
    right: 4px;
    top: 25px;
}
.error-msg {
    color: #d51820;
}
.success-msg {
    color: #29a643;
}
.whatis {
    color: #000;
    cursor: pointer;
    display: inline;
}
.tooltip-inner {
    min-width: 200px;
}

.alert {
    padding: 25px;
    margin-bottom: 0;
}
.alert h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.alert .fa {
    font-size: 50px;
    padding-right: 15px;
}
.alert .wrap {
    display: table;
    margin-bottom: 20px;
}
.alert .wrap.title-only {
    margin-bottom: 0;
}
.alert .wrap.account-status {
    margin-bottom: 0;
}
.alert .wrap > div {
    display: table-cell;
    vertical-align: middle;
}
.alert .arrows li {
    margin-top: 15px;
    color: inherit;
}
.alert.alert-warning,
.alert.alert-info,
.alert.alert-danger,
.alert.alert-success {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.alert.alert-warning {
    background-color: #fef5e4;
    border: 1px solid #fea812;
}
.alert.alert-info {
    background-color: #f0faff;
    border: 1px solid #8fd1ff;
}
.alert.alert-danger {
    background-color: #fff3f4;
    border: 1px solid #df6c71;
}
.alert.alert-success {
    background-color: #f3fef4;
    border: 1px solid #31b63b;
}
.alert.alert-info .fa,
.alert.alert-info .arrows li:before {
    color: #8fd1ff;
}
.alert.alert-warning .fa,
.alert.alert-warning .arrows li:before {
    color: #fea812;
}
.alert.alert-danger .fa,
.alert.alert-danger .arrows li:before {
    color: #df6c71;
}
.alert.alert-success .fa,
.alert.alert-success .arrows li:before {
    color: #31b63b;
}
.alert a {
    font-weight: bold;
    text-decoration: underline;
}
.alert.alert-info a     { color: #31708f; }
.alert.alert-warning a  { color: #8a6d3b; }
.alert.alert-danger a   { color: #a94442; }
.alert.alert-success a  { color: #3c763d; }
.alert a.btn {
    font-weight: normal;
}
.alert a.btn .fa {
    color: #fff;
    margin-right: 0;
    padding-right: 5px;
}
.alert.alert-warning a {
    font-weight: normal;
}
ul.arrows {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.arrows li {
    position: relative;
    margin: 0;
    color: #000;
    line-height: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}
ul.arrows li:before {
    position: absolute;
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 22px;
    vertical-align: middle;
    top: 1px;
    left: 0;
    color: #d51820;
}
ul.arrows li a {
    color: #d51820;
}

#refresh-captcha {
    cursor: pointer;
    font-size: 50px;
}

/**
 * Addthis icons
*/
#addthis-icons.addthis_toolbox {
    float: left;
}